<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCbWPFzh0LjhkK7ot6GbAjPJWNdqsRS22E</string>
	<key>GCM_SENDER_ID</key>
	<string>476682855230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.behmorRoast</string>
	<key>PROJECT_ID</key>
	<string>behmor-roast-app</string>
	<key>STORAGE_BUCKET</key>
	<string>behmor-roast-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476682855230:ios:bb5717a35dcdf0df3d826f</string>
</dict>
</plist>